<!DOCTYPE html>
<html>
<head>
  <title>Brewery</title>
  <%= stylesheet_link_tag    "brewery/application", media: "all" %>
  <%= javascript_include_tag "brewery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
