<h1><%= I18n.t 'brewery.admin.dashboard.dashboard' %></h1>

<section class="dashboard">
	<div class="dash-item">
		<%= link_to main_app.root_path do %>
			<h1><%= I18n.t 'brewery.admin.dashboard.go_to_site' %></h1>
			<i class="entypo-home dash-icon"></i>
		<% end %>
	</div>
</section>