<h1><%= I18n.t 'brewery.admin.dashboard.dashboard' %></h1>

<section class="dashboard">
	<% @dashboard_modules.each do |dashboard_module| %>
		<div class="dash-item">
			<%= link_to dashboard_module.link(self) do %>
				<h1><%= dashboard_module.title %></h1>
				<% if dashboard_module.glyphicon %>
					<i class="glyphicon glyphicon-<%= dashboard_module.glyphicon %>"></i>
				<% end %>
			<% end %>
		</div>
	<% end %>
</section>